# misc
logs/
scripts/tmp/
submission/
todo/

# kernel modules
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.o.cmd
*.ko.cmd
*.mod.cmd
*.mod.o.cmd
*.d
Module.symvers
modules.order
.Module.symvers.cmd
.modules.order.cmd
.tmp_*/

# python
__pycache__

# vscode
.vscode/
