[submodule "MacKernelSDK"]
	path = MacKernelSDK
	url = https://github.com/acidanthera/MacKernelSDK
[submodule "Dependencies/VoodooGPIO"]
	path = Dependencies/VoodooGPIO
	url = https://github.com/Xiashangning/VoodooGPIO.git
[submodule "Dependencies/VoodooSerial"]
	path = Dependencies/VoodooSerial
	url = https://github.com/Xiashangning/VoodooSerial.git
